body {
    background: #0f172a;
    color: white;
}

.header {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 20px;
}

.card {
    background: #1e293b;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 15px;
}

.stButton>button {
    background: linear-gradient(135deg, #facc15, #eab308);
    color: black;
    font-weight: bold;
}
